*{
    margin: 0%;
    padding: 0%;
    font-family: 'Montserrat';
}
body {
    background: rgba(168, 255, 120, 0.5);  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, rgba(120, 255, 214, 0.5), rgba(168, 255, 120, 0.5));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, rgba(120, 255, 214, 0.5), rgba(168, 255, 120, 0.5)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


/*   -----   Header   -----  */
.Header {
    height: 60px;
    padding: 0px 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;

    -webkit-box-shadow: 0px 6px 6px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 6px 6px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 6px 6px 0px rgba(0,0,0,0.3);
}
.Header__title {
    font-size: 28px;
    font-family: 'Lobster';
}
.Header__menu {
    display: flex;
}
.Header__menu--list {
    padding: 8px;
    list-style: none;
}
a {
    color: #313434;
    font-weight: 600;
    text-decoration: none;
}


/*   -----   Card   -----   */
.Card__container {
    margin-top: 48px;
    margin-bottom: 48px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.Card {
    margin: 12px 16px;
    border: 5px solid rgba(200, 200, 200, 0.0);
    border-radius: 14px;
    width: 320px;
    overflow: hidden;
    background: rgba(100, 100, 100, 0.3);
}
.Card:hover {
    -webkit-box-shadow: 0px 5px 8px 3px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 5px 8px 3px rgba(0,0,0,0.5);
    box-shadow: 0px 5px 8px 3px rgba(0,0,0,0.5);
}
.Card__img {
    height: 240px;
    position: relative;
    clip-path: polygon(0 0,100% 0,100% 95%, 0 100%);
    object-fit: cover;
}
.Card__img i {
    height: 240px;
    display: flex;
    font-size: 180px;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
}
.Card__detail {
    margin-top: 6px;
    margin-bottom: 14px;
    color: #313434;
    padding: 6px 8px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.Card__detail p {
    margin: 16px 0px;
    font-weight: 400;
}
.Card__detail a {
    text-decoration: none;
}


/*   -----   Form    -----   */
.Form__container {
    width: 90%;
    margin: auto;
    margin-top: 48px;
    margin-bottom: 48px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.Form {
    width: 320px;
    margin: 12px 16px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    border-radius: 14px;
    background: rgba(151, 151, 151, 0.44);
    border: 3px solid #ffffff;
    -webkit-box-shadow: 0px 4px 8px 2px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 4px 8px 2px rgba(0,0,0,0.5);
    box-shadow: 0px 4px 8px 2px rgba(0,0,0,0.5);
}
.Form input {
    margin: 4px 0px;
    padding: 10px;
    border: 0px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.7);

}
.Form button {
    margin: 4px 10px;
    padding: 10px;
    border: 0px;
    border-radius: 8px;
    background-color: #313434;
    color: #fff;
}
.Form__result {
    height: 60px;
    margin: 12px 0px;
    padding: 6px;
    margin-bottom: 18px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.7);

}


/*   -----   Footer   -----  */
.Footer {
    overflow: hidden;
    padding-top: 24px;
    background: #bbb;
    /* background: #930077; */
    color: #313434;
    /* color: rgb(255, 255, 255); */
    font-size: 24px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact__logos {
    margin: 40px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.contact__logo--container {
    height: 130px;
    width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fab {
    text-align: center;
    font-size: 80px;
}
.fab:hover {
    text-align: center;
    font-size: 88px;
}
.Footer__design {
    width: 100%;
    padding: 16px;
    background: #313434;
    /* background: #3a0088; */
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
}